body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#selectedFeature h5{
  color: red;
}

#selectedPoint {
  color:  green;
}

.flex-container {
  display: flex;
}

.annotationCanvas {
  flex: 3;
}

.sidebar {
  flex: 1;
}

.annotationCanvas {
  background-color: grey;
}

canvas {
  background-color: whitesmoke;
}